<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">What's <span>Trending</span></h3>

        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <%= link_to products_path do %>
                <div class="bb-left-agileits-w3layouts-inner grid">
                    <figure class="effect-roxy">
                        <img src="<%= image_url 'bb1.jpg' %>" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            <% end %>
        </div>
        <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
            <%= link_to products_path do %>
                <div class="bb-middle-agileits-w3layouts grid">
                    <figure class="effect-roxy">
                        <img src="<%= image_url 'bottom3.jpg' %>" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            <% end %>
            <%= link_to products_path do %>
                <div class="bb-middle-agileits-w3layouts forth grid">
                    <figure class="effect-roxy">
                        <img src="<%= image_url 'bottom4.jpg' %>" alt=" " class="img-responsive">
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 65%</p>
                        </figcaption>
                    </figure>
                </div>
            <% end %>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/grids-->
<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <%= link_to products_path do %>
            <img src="<%= image_url 'bot_1.jpg' %>" alt=" ">
            <h4>Flat <span>50%</span> offer</h4>
        <% end %>    
    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <%= link_to products_path do %>
            <img src="<%= image_url 'bot_2.jpg' %>" alt=" ">
            <h4>Flat <span>50%</span> offer</h4>
        <% end %>
    </div>
    <div class="clearfix"></div>
</div>
<!--/grids-->