<%= stylesheet_link_tag 'easy-responsive-tabs' %>
<%= javascript_include_tag 'custom-tabs' %>


<%= render 'product_banner' , :product => @product%>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">

                    <ul class="slides">
                        <li data-thumb="<%= @product.image.url %>">
                            <div class="thumb-image"> <img src="<%= @product.image.url %>" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="<%= @product.image.url %>">
                            <div class="thumb-image"> <img src="<%= @product.image.url %>" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="<%= @product.image.url %>">
                            <div class="thumb-image"> <img src="<%= @product.image.url %>" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3><%= @product.name %></h3>
            <p><span class="item_price">&#8377;<%= @product.price %></span> <del>- &#8377;<%= @product.price %></del></p>
            <div class="rating1">
                <span class="starRating">
          <input id="rating5" type="radio" name="rating" value="5">
          <label for="rating5">5</label>
          <input id="rating4" type="radio" name="rating" value="4">
          <label for="rating4">4</label>
          <input id="rating3" type="radio" name="rating" value="3" checked="">
          <label for="rating3">3</label>
          <input id="rating2" type="radio" name="rating" value="2">
          <label for="rating2">2</label>
          <input id="rating1" type="radio" name="rating" value="1">
          <label for="rating1">1</label>
        </span>
            </div>
            <div class="description">
                <h5>Check delivery, payment options and charges at your location</h5>
                <form action="#" method="post">
                    <input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
                    <input type="submit" value="Check">
                </form>
            </div>
            <div class="color-quality">
                <div class="color-quality-right">
                    <h5>Quality :</h5>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                        <option value="1">1 Qty</option>
                        <option value="2">2 Qty</option>
                        <option value="3">3 Qty</option>
                        <option value="4">4 Qty</option>
                        <option value="5">5 Qty</option>
                    </select>
                </div>
            </div>
            <!-- <div class="occasional">
                <h5>Types :</h5>
                <div class="colr ert">
                    <label class="radio">
                        <input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
                </div>
                <div class="colr">
                    <label class="radio">
                        <input type="radio" name="radio"><i></i>Sneakers </label>
                </div>
                <div class="colr">
                    <label class="radio">
                        <input type="radio" name="radio"><i></i>Formal Shoes</label>
                </div>
                <div class="clearfix"> </div>
            </div> -->
            <div class="occasion-cart">
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <%= link_to add_item_cart_path(product_id: @product.id), class: 'button', method: :put do %>
                      ADD TO CART
                    <% end %>
                </div>

            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="clearfix"> </div>
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>
                    <li>Reviews</li>
                    <li>Information</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page_agile_its_w3ls">
                            <h6><%= @product.name %></h6>
                            <p><%= @product.description %></p>
                        </div>
                    </div>
                    <!--//tab_one-->
                    <div class="tab2">

                        <div class="single_page_agile_its_w3ls">
                            <div class="bootstrap-tab-text-grids">
                                <% if @product.reviews.count > 0 %>
                                  <h6>Top customer reviews</h6>
                                <% else %>
                                  <h6>Be the first to submit review</h6>
                                <% end %>
                                <% @product.reviews.each do |i| %>
                                  <dt><%= show_stars i.rating %></dt>
                                  <dd>
                                    <%= i.description %>
                                    <br>
                                    Review submitted <%= i.created_at.strftime("%d %B %Y") %>
                                    <br>
                                    <% if i.user == current_user %>
                                      <%= link_to "DELETE REVIEW",
                                          product_review_path(@product, i),
                                          :method => :delete,
                                          class: "btn btn-danger"
                                          %>
                                    <% end %>
                                  </dd>
                                  <br>
                                <% end %>
                                <div class="add-review">
                                    <% if current_user %>
                                      <%= form_for(Review.new, url: product_reviews_path(@product, @review)) do |f| %>
                                      <dt>Add a Review</dt>
                                      <dd><%= f.text_area :description, class: "form-control" %></dd>
                                      <br>
                                      <dt>Rating</dt>
                                      <dd>
                                        <%= f.select :rating,
                                            options_for_select(
                                            [['Excellent', 5],
                                            ['Good', 4],
                                            ['Average', 3],
                                            ['Could be improved', 2],
                                            ['Poor', 1]]),
                                            class: "form-control" %>
                                      </dd>
                                      <br>
                                      <dd><%= f.submit "Submit Review", class: "btn btn-primary" %></dd>
                                      <% end %>
                                    <% end %>
                                    <br>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab3">

                        <div class="single_page_agile_its_w3ls">
                            <h6><%= @product.name %></h6>
                            <p><%= @product.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //new_arrivals -->
        <!--/slider_owl-->
        <%=render "featured" %>
    </div>
</div>

<!-- <section class="products-show">

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$ <%= @product.price %></dd>
        </dl>
      </div>
      <div class="col-sm-8">
        <br>
        <dl class="dl-horizontal">
          <% if current_user %>
            <%= form_for(Review.new, url: product_reviews_path(@product, @review)) do |f| %>
            <dt>Add a Review</dt>
            <dd><%= f.text_area :description, class: "form-control" %></dd>
            <br>
            <dt>Rating</dt>
            <dd>
              <%= f.select :rating,
                  options_for_select(
                  [['Excellent', 5],
                  ['Good', 4],
                  ['Average', 3],
                  ['Could be improved', 2],
                  ['Poor', 1]]),
                  class: "form-control" %>
            </dd>
            <br>
            <dd><%= f.submit "Submit Review", class: "btn btn-primary" %></dd>
            <% end %>
          <% end %>
          <br>
          <% @product.reviews.each do |i| %>
          <dt><%= show_stars i.rating %></dt>
          <dd>
            <%= i.description %>
            <br>
            Review submitted <%= i.created_at.strftime("%d %B %Y") %>
            <br>
            <% if i.user == current_user %>
              <%= link_to "DELETE REVIEW",
                  product_review_path(@product, i),
                  :method => :delete,
                  class: "btn btn-danger"
                  %>
            <% end %>
          </dd>
          <br>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section> -->

<%=render 'bottom_grid' %>
